ol {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li{
    padding-left: 20px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background: #FFFF;
  color: black;
  font-family: 'Poppins', sans-serif;
  margin: 0;
}

p {
  margin: 0 0 13px 0;
}

a {
  color: #fff;
}



.container {
  width: 95%;
  max-width: 1220px;
  margin: 0 auto;
}

.episode {
  display: grid;
  grid-template-columns: 1fr 3fr;
  position: relative;
}

.episode__number {
  font-size: 8vw;
  font-weight: 600;
  padding: 10px 0;
  position: sticky;
  top: 0;
  text-align: left;
  height: calc(10vw + 20px);
  transition: all 0.2s ease-in;
  color:#1bd1d7
}

.story{
    margin-left: 30px;
    /* background-color: #95e9ec;
    padding: 4%; */
    border-radius: 10px;
    
    
}

.episode__content {
  border-top: 2px solid #ee7d03;
  border-top-width: 5px;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-gap: 10px;
  padding: 30px 0;
  }

.episode__content .title {
  font-weight: 600;
  font-size: 200%;
  color: #ee7d03;
  
}

.episode__content .story {
  line-height: 30px;
}


.ans_card{
  width: 300px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #00aab4;
  color: white;
  font-size: 20px;
  font-weight: bold;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s ease;
}

.vidqs {
  display: inline-block;
  vertical-align: top;
  margin-left: 20px;
  max-width: 40%;
  line-height: 30px;
}

div > h2, iframe, .vidqs {
  display: inline-block;
  vertical-align: top;
}

div > h2 {
  width: 100%;
  display: block;
}

iframe {
  width: 100%;
  max-width: 60%;
  height: auto;
  aspect-ratio: 16 / 9;
}

@media (max-width: 767px) {
  .vidqs {
      margin-top: 20px;
      text-align: center;
      max-width: 100%;
  }

  div > h2, iframe, .vidqs {
      display: block;
      text-align: left;
  }

  iframe {
      max-width: 100%;
  }
}





@media (max-width: 600px) {
  .episode__content {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 576px) {
  .episode__content .story {
    font-size: 15px;
  }
}

