#box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: auto;
}

footer{
  width:100%;
}


#dei_title{
  text-align:center;
  font-weight: 800;
  font-size: 275%;
}

#at{
  color: #EA7A1D;
}

.snip1567 {
  background-color: #000000;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.274);
  color: #ffffff;
  display: inline-block;
  font-size: 24px;
  line-height: 1.6em;
  margin: 10px;
  max-width: 310px;
  min-width: 250px;
  overflow: hidden;
  position: relative;
  text-align: center;
  width: 100%;
  border-radius: 7px;
  cursor: pointer;
}

.snip1567 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

.snip1567 img {
  max-width: 100%;
  opacity: 1;
  position: relative;
  vertical-align: top;
  /* border: 2px #000000 solid; */
  
}

.snip1567 figcaption {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.snip1567 h3 {
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
  background-color: #000000;
  top: 0;
  font-weight: 800;
  letter-spacing: -0.4px;
  margin: 0;
  padding: 10px 20px;
  position: absolute;
  width: 100%;
}

.snip1567 ul {
  position: absolute;
  width: 100%;
  bottom: 10px;
  left:10px;
  padding: 10px 30px;
  opacity: 0;
  text-align: left;
  -webkit-transition-delay: 0.15s;
  transition-delay: 0.15s;
}

.snip1567 i {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 54px;
  -webkit-transform: translate(-50%, -50%) scale(1);
  transform: translate(-50%, -50%) scale(1);
}

.snip1567 .hover {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  align-items: center;
  background-color: rgba(226, 133, 40, 0.90);
  display: flex;
  font-size: 65px;
  justify-content: center;
  opacity: 0;
  
}

.snip1567 a {
  left: 0;
  bottom: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
}

/* .snip1567:hover .hover, */
.snip1567.hover .hover {
  opacity: 1;
}

/* .snip1567:hover ul, */
.snip1567.hover ul {
  opacity: 1;
}

/* .snip1567:hover h3, */
.snip1567.hover h3 {
  -webkit-transform: translateY(0%);
  transform: translateY(0%);
}

/* .snip1567:hover i, */
.snip1567.hover i {
  -webkit-transform: translate(-50%, -50%) scale(0.1);
  transform: translate(-50%, -50%) scale(0.1);
  opacity: 0;
}

/* //////////////////////////////////////////////////// */

iframe {
  width: 100%;
  max-width: 60%;
  height: auto;
  aspect-ratio: 16 / 9;
  display: block;
  margin: 0 auto;
}



/* //////////////////////////////////////////////////// */



#prof_pic {
	display: block;
	width: 35%;
}

#prof_name {
	margin: 0;
	font-size: 1.4rem;
}

@media (min-width: 50em) {
	#prof_name {
		font-size: 1.8rem;
	}
}

.cta {
	--shadowColor: 187 60% 40%;
	display: flex;
	flex-wrap: wrap;
	background: #beedf4;
	max-width: 50rem;
	width: 100%;
	box-shadow: 0.65rem 0.65rem 0 hsl(var(--shadowColor) / 1);
	border-radius: 0.8rem;
	overflow: hidden;
	/* border: 0.2rem solid; */
  border-color: #18898f;
}

.cta img {
	aspect-ratio: 3 / 2;
	object-fit: cover;
	flex: 1 1 300px;
	/* outline: 0.2rem solid; */
  outline-color: #18898f;
}

.cta__text-column {
	padding: min(2rem, 5vw) min(2rem, 5vw) min(2.5rem, 5vw);
	flex: 1 0 50%;
}

.cta__text-column > * + * {
	margin: min(1.5rem, 2.5vw) 0 0 0;
}

#prof_line1{
  line-height: 0.3em;
}

#prof_line2{
  line-height: 0.3em;
}

.cta a {
	display: inline-block;
	color: #ffffff;
	padding: 0.5rem 1rem;
	text-decoration: none;
	/* background: hsl(187 75% 64%); */
	border-radius: 0.6rem;
	font-weight: 500;
	/* border: 0.1rem solid; */
  background-color: #18898f
}

#kickoff_lego_logo{
  width:50%;
  margin:auto;
}

/* //////////////////////////////////////////////////// */

/* /////////////////////////////////////////////////////////////////////////////////////////// */

/* Position the image container (needed to position the left and right arrows) */
.container {
  position: relative;
  width: 80%;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #000000;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
  background-color: rgba(240, 255, 255, 0.44);
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

/* //////////////////////////////////////////////////// */


@media screen and (max-width: 800px) {

  #prof_line1, #prof_line2 {
    line-height: 1.2em;
    margin: 0.5em 0;
  }

  #dei_title{
    font-weight: 750;
    font-size: 150%;
  }



}

