#box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: auto;
}


#dei_title{
  text-align:center;
  font-weight: 800;
  font-size: 300%;
}

#at{
  color: #EA7A1D;
}

.snip1567 {
  background-color: #000000;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  color: #ffffff;
  display: inline-block;
  font-size: 24px;
  line-height: 1.6em;
  margin: 10px;
  max-width: 310px;
  min-width: 250px;
  overflow: hidden;
  position: relative;
  text-align: center;
  width: 100%;
  border-radius: 7px;
}

.snip1567 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

.snip1567 img {
  max-width: 100%;
  opacity: 0.75;
  position: relative;
  vertical-align: top;
}

.snip1567 figcaption {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.snip1567 h3 {
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
  background-color: #000000;
  top: 0;
  font-weight: 800;
  letter-spacing: -0.4px;
  margin: 0;
  padding: 10px 20px;
  position: absolute;
  width: 100%;
}

.snip1567 ul {
  position: absolute;
  width: 100%;
  bottom: 10px;
  left:10px;
  padding: 10px 30px;
  opacity: 0;
  text-align: left;
  -webkit-transition-delay: 0.15s;
  transition-delay: 0.15s;
}

.snip1567 i {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 54px;
  -webkit-transform: translate(-50%, -50%) scale(1);
  transform: translate(-50%, -50%) scale(1);
}

.snip1567 .hover {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  align-items: center;
  background-color: rgba(226, 133, 40, 0.90);
  display: flex;
  font-size: 65px;
  justify-content: center;
  opacity: 0;
  
}

.snip1567 a {
  left: 0;
  bottom: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
}

.snip1567:hover .hover,
.snip1567.hover .hover {
  opacity: 1;
}

.snip1567:hover ul,
.snip1567.hover ul {
  opacity: 1;
}

.snip1567:hover h3,
.snip1567.hover h3 {
  -webkit-transform: translateY(0%);
  transform: translateY(0%);
}

.snip1567:hover i,
.snip1567.hover i {
  -webkit-transform: translate(-50%, -50%) scale(0.1);
  transform: translate(-50%, -50%) scale(0.1);
  opacity: 0;
}

/* //////////////////////////////////////////////////// */

/* * {
	box-sizing: border-box;
}

body {
	font-family: "Open Sans", sans-serif;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	gap: 2rem;
	justify-content: center;
	align-items: center;
	background: hsl(187 40% 98%);
} */

#prof_pic {
	display: block;
	width: 35%;
}

#prof_name {
	margin: 0;
	font-size: 1.4rem;
}

@media (min-width: 50em) {
	#prof_name {
		font-size: 1.8rem;
	}
}

.cta {
	--shadowColor: 187 60% 40%;
	display: flex;
	flex-wrap: wrap;
	background: #beedf4;
	max-width: 50rem;
	width: 100%;
	box-shadow: 0.65rem 0.65rem 0 hsl(var(--shadowColor) / 1);
	border-radius: 0.8rem;
	overflow: hidden;
	/* border: 0.2rem solid; */
  border-color: #18898f;
}

.cta img {
	aspect-ratio: 3 / 2;
	object-fit: cover;
	flex: 1 1 300px;
	/* outline: 0.2rem solid; */
  outline-color: #18898f;
}

.cta__text-column {
	padding: min(2rem, 5vw) min(2rem, 5vw) min(2.5rem, 5vw);
	flex: 1 0 50%;
}

.cta__text-column > * + * {
	margin: min(1.5rem, 2.5vw) 0 0 0;
}

#prof_line1{
  line-height: 0.3em;
}

#prof_line2{
  line-height: 0.3em;
}

.cta a {
	display: inline-block;
	color: #ffffff;
	padding: 0.5rem 1rem;
	text-decoration: none;
	/* background: hsl(187 75% 64%); */
	border-radius: 0.6rem;
	font-weight: 500;
	/* border: 0.1rem solid; */
  background-color: #18898f
}

/* //////////////////////////////////////////////////// */

@media screen and (max-width: 800px) {
  #box {
    flex-direction: column; /* Arrange items vertically */
    height: auto; /* Adjust height for vertical layout */
    gap: 2px;
  }

  .snip1567 {
    display: block;
  }
}
